rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 一時的に全アクセス許可（開発用）
    match /{document=**} {
      allow read, write: if true;
    }
  }
}